/******Publisher Dashboard******/
label {
    font-weight: 300;
}
.company-name{
 height: 30px;
    width: auto;
}
.platform{
    width: 13%;
}
.logos
{
    width: 40px;
    height: 30px;
    padding: 0 5px 0 0;
    background-image: url("../images/logo-main.png");
    background-size: 40px 30px;
}
.v-center {
    margin: 15px 0 0 10px;
}
.border-left{
    border-left: 1px solid #6a6d82;
}
.app-search .form-control, .app-search .form-control:focus{
    border-radius: 3px;
}
.bg-title{
    background: #6a6d82;
    padding: 10px 0 0 10px;
}
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    padding:5px;
    cursor: pointer;
}
[type=radio]:hover + img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

[type=radio]:checked + img {
    border-bottom: 1px solid white;
}
input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    color:white;
    padding: 0 5px;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav-position{
    position:relative;
}
.nav-button1{
    background: #6a6d82;
    color:white;
    border: 1px solid #fff;
    width: 65px;
    /*margin-top: 30px;*/
    font-size: 0.625em;
    position:absolute;
    top: 35px;
    left:0;
}

.nav-button2{
    background: #6a6d82;
    color:white;
    border: 1px solid #fff;
    width: 65px;
    font-size: 0.625em;
    position:absolute;
    top: 35px;
    right: 10px;
}

.best-offer{
    text-shadow: 2px 2px #b3b7db;
}

.app-name{
    color: #bbda5f;
    font-size:10px;
    white-space: nowrap;
    margin-bottom:5px;
    font-weight: 400;
}
.app-title{
    font-weight: 400;
}

.white-box{
    padding:5px;
}

.media{
    margin-left:10%;
    border:0;
}

.media-heading{
    font-size: 2.7em;
    font-weight: bold;
}
.app-version{
    color: #bbda5f;
    line-height: 20px;
}

.text-muted-border{
    font-size:1em;
    border: 1px solid #e0a6a7;
}
.text-muted{
    color: #a9a8a8;
}
.text-warning{
    color: #ff9e13;
}
.icon-rate{
    width: 17px;
    height: 17px;
    margin-right:5px;
    display: inline-block;
    background-image: url("../images/icon.png");
    background-size: 17px 17px;
}
.space{
    margin-left: 5px;
}

.category-color{
    background: #3487c8;
    padding:4px;
}
.give-height{
    height:80px;
}
.details{
    padding-right: 0;
}
















.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/****************************/


.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 11.1%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 11%;
        float: left;
    }
}
